.mypy_cache/
venv/
.venv/
# data_lake/
# mlruns/
reports/

.env
mlflow_env/
logs/

# Airflow
airflow/
*.log
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

todo